/*black=  #0C1A00;*/

@font-face {
  font-family: UntitledSans;
  src: url(UntitledSansRegular.otf);
  font-display: swap;
}

html {
	cursor: -webkit-image-set(url("asseti/cursor.png") 1x, url("asseti/cursor@2x.png") 2x) 0 0, auto;
	font-size: 62.5%;
}

body {
	font-family: 'UntitledSans', sans-serif;
	font-size: 22px;
	line-height: 1.3;
  font-weight: normal;
	margin: 0 auto;
	padding: 0;
	color: #0C1A00;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  transition: text-shadow 0.1s ease-out;
  font-style: italic;
  color: #0C1A00;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

a:hover {
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
  transition: text-shadow 0.1s ease-out;
  color: white;
  font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #fff;
	color: #fff;
}

.wrapper {
	display: flex;
  padding-left: 1.5rem;
  width: calc(100% - 3rem);
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  position: fixed;
}

.scroll {
  height: 100%;
  overflow: scroll;
  padding-top: none;

  padding-top: 1rem;
}

.lijevo {
  width: 70%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.desno {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  height: auto;
  width: auto;

}

.disabled {
  opacity: 30%;
  pointer-events: none;
}


p {
  margin-bottom: 2.5rem;
  margin-top: 0;
  transition: .1s ease-out;
}

p, h2, h3, h5 {
  width: 100%;
  font-weight: normal;
  max-width: 660px;
}

.blok {
  margin-bottom: 2.5rem;
}

.bloksivi {
  padding: 1.2rem 3rem 0.5rem 2rem;
  margin-bottom: 4rem;
  border: 1px black solid;
  max-width: calc(660px - 5rem - 2px);
}

h2 {
  font-size: 34px;
  line-height: 1.15;
  margin-top: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 27px;
  margin-bottom: 1rem;
  line-height: 1.15;
  margin-top: 1.5rem;
  font-weight: normal;
}


h5 {
  font-size: 16px;
  margin-bottom: 3rem;
  font-weight: normal;
  margin-top: 0;
}

h2:hover, h5:hover, h3:hover{
  letter-spacing: -.1px;
  transition: .1s ease-out;
}


.lijevo img {
	margin-top: 1.5rem;
	margin-bottom: 6rem;
	display: block;
  width: 100%;
  max-width: 1400px;
  border-bottom: 1px solid #000;
}

.imageCaption {
  margin-top: -5rem;
  font-size: 16px;
  margin-bottom: 5rem;
}


@media screen and (max-width : 800px) {

  body {
  	font-size: 19px;
  	line-height: 1.2;
  }

  h2 {
    font-size: 29px;
    line-height: 1.05;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    line-height: 1.1;
  }

  p {
    margin-bottom: 2rem;
  }



  .wrapper {
  	flex-direction: column;
  	overflow: auto;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100vw - 2rem);
  }

  .scroll {
    width: 100%;
    padding-bottom: 5rem;
  }

  .lijevo {
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: auto;
    width: 100%;
  }

  .desno {
    position: absolute;
    width: calc(100vw - 2rem);
    display: flex;
    flex-direction: column;
    bottom: 0;
    background: #fff;
    z-index: 20;
    left: 0;
    padding: 1rem;
    padding-right: none;
    padding-bottom: 0.9rem;
    padding-top: 0.6rem;
    border-top: 1px solid #000;
  }

  .lijevo img {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-bottom: 5rem;
    margin-top: 0;
  }

  .imageCaption {
    margin-top: -4rem;
    font-size: 14px;
    margin-bottom: 4rem;
  }




  .desno a{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .bloksivi {
    padding: .5rem 1.5rem .5rem 1.5rem;
    margin-bottom: 4rem;
    width: calc(100% - 3rem - 2px);
  }

}

/* @media only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3) {
    .desno {
      padding-bottom: 3rem;
    }
   } */
