body {
	font-family: 'Helvetica', sans-serif;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	color: #000;
	background: #FFAE00;
}

.pozadinaGradijent {
	background-color: white;
	margin: 0.8em;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: black;
	color: white;
}

h1{
	font-size: 72px;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	font-size: 28px;
	line-height: 1em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	font-size: 28px;
	line-height: 1.48;
	margin: 0;
}

a {
	color: #000;
	font-size: 28px;
	line-height: 1.4;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	background: rgb(130,130,130);
	background: -moz-linear-gradient(90deg, rgba(160,160,160,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(1160,160,160,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(90deg, rgba(160,160,160,1) 0%, rgba(255,255,255,1) 100%);
}



.linksmall:hover{
	background: rgb(130,130,130);
	background: -moz-linear-gradient(90deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
}

.wrapper {
	padding: 4em;
  display: grid;
	max-width: 1400px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 24px;
}

.index-naslov{
	margin-top: 3em;
	grid-column-start: 1;
  grid-column-end: 9;
	grid-row-start: 1;
  grid-row-end: 2;
}

.index-projects{
	grid-column-start: 1;
  grid-column-end: 9;
	margin-top: 1em;
}

.index-resume{
	grid-column-start: 4;
  grid-column-end: 9;
	margin-top: 5em;
	margin-bottom: 3em;
}

.index-social{
	display: flex;
	flex-wrap: wrap;
	grid-column-start: 1;
  grid-column-end: 9;
	margin-top: 2em;
	margin-bottom: 4em;
}

.index-internal{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	grid-column-start: 1;
  grid-column-end: 9;
	margin-bottom: 1em;
}

.joke{
	font-size: 6px;
	color: rgb(245,245,245);
}

.margindesno {
	margin-right: 3em;
}

.margintop {
	margin-top: 1.5em;
}


@media (hover: none) {
   a:link {
      background: white;
   }
}



@media screen and (max-width : 940px) {

	h2 {
		font-size: 22px;
	}

	p {
		font-size: 22px;
	}

	 a {
	 		font-size: 22px;
	 }

	.pozadinaGradijent {
		margin: 0.5em;
	}

	.wrapper {
		padding: 2em;
	}

	.index-naslov{
		margin-top: 2em;
	}

	.index-projects{
		margin-top: 2em;
		margin-bottom: 1em;
	}

	.index-resume{
		grid-column-start: 2;
	  grid-column-end: 9;
		margin-top: 2em;
	}

	.index-social{
		grid-column-start: 1;
	  grid-column-end: 9;
		margin-top: 1em;
		margin-bottom: 6em;
	}

	.joke{
		font-size: 5px;
	}
}

@media screen and (max-width : 700px) {

	.pozadinaGradijent {
		margin: 0.3em;
	}

	h1{
		font-size: 48px;
		line-height: 1.1;
		margin-bottom: 0;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 20px;
	}

	 a {
	 		font-size: 20px;
	 }

	.linksmall{
		font-size: 20px;
		width: 100%;
	}

	.wrapper {
		padding: 1em;
	}

	.index-naslov{
		margin-top: 0;
	}

	.index-projects{
		margin-top: 2em;
		grid-column-start: 1;
	  grid-column-end: 9;
	}

	.index-resume{
		grid-column-start: 1;
	  grid-column-end: 9;
		margin-top: 1.5em;
	}

	.index-social{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		grid-column-start: 1;
	  grid-column-end: 9;
		margin-top: 1em;
		margin-bottom: 2em;
	}

	.margintop {
		margin-top: 1.5em;
	}
}

@media screen and (min-width : 2400px) {
	.wrapper{
		max-width: 3000px;
	}

	.index-naslov{
		margin-top: 0;
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.index-projects{
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 2;
	}

	.index-resume{
		grid-column-start: 3;
		grid-column-end: 6;
		margin-top: 1em;
	}

	.index-social {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.linksmall {
		width: 100%;
	}
}
