body {
	font-family: 'Helvetica', sans-serif;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	color: #FFBF00;
	background: #FFBF00;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}

.pozadinaFill {
	background-color: black;
	margin-top: 3em;
}

.wrapper {
	margin: 1em;
	padding: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 24px;
	border: 1px solid #FFBF00;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: black;
	color: white;
}

a::selection {
  background: black;
	color: #FFBF00;
}

h1{
	font-size: 72px;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	font-size: 28px;
	line-height: 1em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	font-size: 28px;
	line-height: 1.48;
	margin: 0;
}

a {
	color: white;
	font-size: 28px;
	line-height: 1.4;
	text-decoration: none;
}

a:hover{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(180,180,180,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(180,180,180,1) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(180,180,180,1) 100%);
}

.hoverver:hover{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
}

.index-naslov{
	margin-top: 1em;
	grid-column-start: 1;
  grid-column-end: 9;
	grid-row-start: 1;
  grid-row-end: 2;
}

.index-projects{
	grid-column-start: 1;
  grid-column-end: 9;
	margin-top: 1em;
}

.index-resume{
	grid-column-start: 4;
  grid-column-end: 9;
	margin-top: 5em;
	margin-bottom: 3em;
}

.index-social{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	grid-column-start: 1;
  grid-column-end: 9;
	margin-top: 2em;
	margin-bottom: 4em;
}

.internal{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: flex-start;
	grid-column-start: 1;
  grid-column-end: 9;
	margin-bottom: 1em;
}

.joke{
	font-size: 6px;
	color: rgb(40,40,40);
}

.margindesno {
	margin-right: 3em;
}

.margintop {
	margin-top: 1.5em;
}


@media (hover: none) {
   a:link {
      background: black;
   }
}

@media screen and (max-width : 940px) {

	h2 {
		font-size: 22px;
	}

	p {
		font-size: 22px;
	}

	 a {
	 		font-size: 22px;
	 }

	.wrapper {
		padding: 2em;
	}

	.index-naslov{
		margin-top: 2em;
	}

	.index-projects{
		margin-top: 2em;
		margin-bottom: 1em;
	}

	.index-resume{
		grid-column-start: 2;
	  grid-column-end: 9;
		margin-top: 2em;
		margin-bottom: 1em;
	}

	.index-social{
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.joke{
		font-size: 5px;
	}
}

@media screen and (max-width : 800px) {

	h1{
		font-size: 54px;
		line-height: 1.1;
		margin-bottom: 0;
	}

	h2 {
		font-size: 22px;
	}

	p {
		font-size: 22px;
	}

	 a {
	 		font-size: 22px;
	 }

	.wrapper {
		margin: 0.5em;
		padding: 1em;
	}

	.index-naslov{
		margin-top: 0;
	}

	.index-projects{
		margin-top: 1.5em;
		grid-column-start: 1;
	  grid-column-end: 9;
	}

	.index-social{
		margin-top: 0em;
		margin-bottom: 2em;
	}

	.index-resume{
		grid-column-start: 1;
	  grid-column-end: 9;
		margin-top: 1em;
		margin-bottom: 1.5em;
	}

	.margintop {
		margin-top: 1em;
	}
}

@media screen and (max-width : 500px) {

	h1{
		font-size: 48px;
		line-height: 1.1;
		margin-bottom: 0;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 20px;
	}

	 a {
	 		font-size: 20px;
	 }

	.wrapper {
		margin: 0.4em;
		padding: 0.5em;
	}

	.index-naslov{
		margin-top: 0;
	}

	.index-projects{
		margin-top: 2em;
		grid-column-start: 1;
	  grid-column-end: 9;
	}

	.internal{
		margin-top: 0.5em;
	}

	.index-social{
		margin-top: 0em;
		margin-bottom: 2em;
	}

	.index-resume{
		grid-column-start: 1;
	  grid-column-end: 9;
		margin-top: 1.5em;
		margin-bottom: 1em;
	}

	.margintop {
		margin-top: 1em;
	}
}

@media screen and (min-width : 2400px) {
	.wrapper{
		max-width: 3000px;
	}

	.index-naslov{
		margin-top: 0;
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.index-projects{
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 2;
	}

	.index-resume{
		grid-column-start: 3;
		grid-column-end: 6;
		margin-top: 1em;
	}

	.index-social {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.linksmall {
		width: 100%;
	}
}
