body {
	background-color: #F7F7F7;
}

.wrapper{
	background-color: #F7F7F7;
}

.headerProjekt{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	align-items: center;
}

.headerImage{
	background-position: center;
	background-size: cover;
	height: 75vh;
	width: 85%;
	background-repeat: no-repeat;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.piccolaBack{
		background-image: url(asseti/piccolaFull.jpg);
		background-color: white;
			background-position: center;
}

.piccola2Back{
		background-image: url(asseti/piccola2.jpg);
}

.xemanticBack{
		background-image: url(asseti/xemanticFull.jpg);
		background-color: white;
		background-position: center;
}

.headerImage{
	background-size: cover;
	height: 75vh;
	background-repeat: no-repeat;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.opisprojekta{
	grid-column-start: 2;
  grid-column-end: 8;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: none;
	margin-bottom: 5rem;
}

@media screen and (max-width : 900px){
	.headerImage{
		background-size: contain;
	}

	.piccola2Back{
			background-position: top;
	}

}
