body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', serif;
	color: #FF0083;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: black;
	color: white;
}

@media (hover: none) {
   a:link {
      background: black;
   }
}

a::selection {
  background: black;
	color: #FF0083;
}



h1{
	font-size: 72px;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 0.4em;
	margin-top: 0;
}

h2{
	font-size: 20px;
	line-height: 1.5;
	margin-top: 1em;
	margin-bottom: 0;
	text-align: center;
}

h3{
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 0.4em;
}

p {
	font-size: 28px;
	line-height: 1.48;
	margin-top: 0;
	margin-bottom: 0.5em;
}

a {
	color: white;
	font-size: 28px;
	line-height: 1.4;
	text-decoration: none;
}

a:hover{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
}

.naslovlink{
		font-size: 1em;
		line-height: 1.4em;
		margin-bottom: 0.8em;

}
.small-bottom-padding{
	margin-bottom: 0.2em;
}

.last{
	margin-bottom: 1.6em;
}

.top{
	height: 9.6em;
	margin-bottom: 8em;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(image.svg);
}

.wrapper {
	margin: 0 auto;
  display: grid;
	max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 40px;
	grid-column-gap: 24px;
}
.ime{
	grid-column-start: 1;
  grid-column-end: 5;
	grid-row-start: 1;
}

.linkovi{
	align-items: flex-end;
	grid-row-start: 1;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	grid-column-start: 4;
	grid-column-end: 8;
}
.opis {
	grid-column-start: 1;
  grid-column-end: 5;
	margin-bottom: 4em;
}
.naslov {
	grid-column-start: 1;
  grid-column-end: 6;
}
.iskustvo{
	grid-column-start: 1;
  grid-column-end: 6;
	margin-bottom: 2em;
}

@media screen and (min-width : 1800px) {
	.top{
		height: 18rem;
	}
	.wrapper{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (max-width : 1300px) {
	.top{
		margin-top: -2em;
	}
}


@media screen and (max-width : 1000px)
{
	.top{
			margin-top: -2em;
	}

	.wrapper {
		padding: 24px;
	}

	.naslov {
		grid-column-start: 1;
	  grid-column-end: 7;
	}
	.iskustvo{
		grid-column-start: 1;
	  grid-column-end: 7;
	}
}

@media screen and (max-width : 860px) {

	h1{
		font-size: 64px;
	}

	h2{
		font-size: 18px;
	}

	h3{
		font-size: 24px;
	}

	p {
		font-size: 24px;
	}

	a {
		font-size: 24px;
	}

	.top{

			height: 8em;
		margin-top: -3.5em;
		margin-bottom: 6em;
	}

	.opis {
		grid-column-start: 1;
		grid-column-end: 8;
	}
	.naslov {
		grid-column-start: 1;
	  grid-column-end: 8;
	}
	.iskustvo {
		grid-column-start: 1;
		grid-column-end: 8;
	}

}

@media screen and (max-width : 650px) {

	.wrapper {
		padding: 10px;
	}

	.top{
		margin-top: -3.5em;
			height: 7em;
	}
	.opis {
		grid-column-start: 1;
	 	grid-column-end: 7;
	}
	.ime{
			grid-column-start: 1;
			grid-column-end: 6;
	}
	.linkovi{
			grid-column-start: 1;
		  grid-column-end: 8;
			padding-top: 0.6em;
	}
	.last{
		margin-bottom: 2em;
	}
}

@media screen and (max-width : 500px) {

	.top{
		margin-top: -2.3em;
		height: 5em;

		margin-bottom: 4em;
	}

	h1{
		font-size: 48px;
	}

	h2{
		font-size: 16px;
	}

	h3{
		font-size: 20px;
	}

	p {
		font-size: 20px;
	}

	a {
		font-size: 20px;
	}
