body {
	background-color: #F7F7F7;
}

.wrapper{
	background-color: #F7F7F7;
}

.headerProjekt{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	align-items: center;
}

.headerImage{
	background-position: center;
	background-size: contain;
	height: 75vh;
	width: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: 5rem;
	grid-column-start: 2;
	grid-column-end: 8;
}

.piccolaBack{
	background-image: url(asseti/piccolaFull.jpg);
	background-color: white;
	background-position: center;
}

img {
	width: 100%;
	background-repeat: no-repeat;
	margin-bottom: 5rem;
	grid-column-start: 2;
	grid-column-end: 8;
	margin-top: 4.5rem;
}

.xemanticBack{
		background-image: url(asseti/xemanticFull.jpg);
		background-color: white;
		background-position: center;
}

.opisprojekta{
	grid-column-start: 2;
  grid-column-end: 8;
	display: flex;
	text-align: center;
	justify-content: center;
}

@media screen and (max-width : 600px){
	.headerImage{
		grid-column-start: 1;
		grid-column-end: 9;
	}

	img{
		grid-column-start: 1;
		grid-column-end: 9;
	}

}
