@font-face {
  font-family: Panamamono;
  src: url(asseti/Font/PanamaMonospaceRegular.otf);
}
@font-face {
	font-family: Panamairanic;
	src: url(asseti/Font/PanamaMonospaceIranic.otf);
}


html {
	cursor: -webkit-image-set(url("asseti/cursor.png") 1x, url("asseti/cursor@2x.png") 2x) 0 0, auto;
	font-size: 62.5%;
}

body {
	font-family: 'Panamamono', sans-serif;
	font-size: 22px;
	line-height: 1.09;
	margin: 0 auto;
	padding: 0;
	color: white;
	background: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
}

p{
	margin-top: 0;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: black;
	color: black;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.lijevo {
	width: 22%;
	min-width: 260px;
	background-color: black;
	padding: 1rem;
}

.sredina {
	height: 100vh;
	background-color: #C32C2C;
	display: block;
	overflow: auto;
  width: 66%;
}
.sredinascroll {
	padding: 1rem;
}

.desno {
	width: 11%;
	min-width: 110px;
	padding: 1rem;
}

.sredinascroll a {
	text-align: right;
	width: 100%;
	text-decoration: none;
	color: white;
	font-family: 'Arial', sans-serif;
	font-style: italic;
}
.sredinascroll a:hover {
	font-style: normal;
}

.sredinascroll p {
	text-align: right;
	margin-bottom: 0;
}

.sredinascroll img {
	width: 100%;
}

.projekt img {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	display: block;
}

.projekt img:last-of-type {
	margin-bottom: 0rem;
}

.desno a {
	color: white;
	text-decoration: none;
	font-style: italic;
}

.desno a:hover {
	font-style: normal;
}


@media screen and (max-width : 600px) {

  .wrapper {
  	display: grid;
  	overflow: auto;
    height: auto;
  }

  .lijevo {
  	width: calc(100% - 2rem);
  	background-color: black;
  	padding: 1rem;
    height: 50vh;
  }

  .sredina {
    width: 100%;
    order: 3;
    height: auto;
  }

  .sredinascroll {
  }

  .desno {
    order: 2;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

}
