
html {
	font-size: 62.5%;
}

body {
	font-family: 'Arial', sans-serif;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	color: black;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
	cursor: -webkit-image-set(url("asseti/cursor.png") 1x, url("asseti/cursor@2x.png") 2x) 5 5, auto;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: white;
	color: white;
}

.noHover{
    pointer-events: none;
}

p {
	margin: 0;
	margin-bottom: 0.55em;
}

.mali {
	margin-bottom: 0.9em;
}

h1 {
	font-weight: normal;
	margin: 0;
}

a {
	color: black;
	font-style: italic;
	text-decoration: none;
	-webkit-transition-delay: 0s;
	text-align: left;
}

a:hover {
	transition: 0.1s ease;
	letter-spacing: -0.3px !important;
}

.fluidtypecaption {
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.3px;
	transition: 0.2s ease;
}

.fluidtype {
	font-size: 30px;
	line-height: 1.10;
	letter-spacing: 0.3px;
	transition: 0.2s ease;
}

.fluidtypenaslov {
	font-size: 30px;
	line-height: 1.10;
	letter-spacing: 0.25px;
	transition: 0.2s ease;
}


.fluidtypespacing:hover{
	letter-spacing: -0.2px;
	transition: 0.2s ease;
}

.fluidtypecaption:hover{
	letter-spacing: -0.2px;
	transition: 0.2s ease;
	margin-left: -0.8rem;
	padding-left: 0.8rem;
}

.fluidtypecaptionspacing:hover{
	letter-spacing: -0.2px;
	transition: 0.2s ease;
}

.vertikalno{
	writing-mode: vertical-lr;
	text-align: left;
	letter-spacing: 1px !important;
	height: 250px;
}


@media screen and (min-width : 400px) {
	.fluidtypecaption {
		font-size: calc(14px + 10 * ((100vw - 375px) / (1600)));
		letter-spacing: calc(0.5px + 0 * ((100vw - 375px) / (1600)));
	}
	.fluidtype {
		font-size: calc(24px + 10 * ((100vw - 400px) / (1600)));
		letter-spacing: calc(0.2px + 0 * ((100vw - 375px) / (1440)));
	}
	.fluidtypenaslov {
		font-size: calc(24px + 10 * ((100vw - 400px) / (1600)));
		letter-spacing: calc(0.4px + 0 * ((100vw - 375px) / (1600)));
	}
}

.wrapper {
	height: 100vh;
	width: 55%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	float: left;
}

.wrapper2 {
	float: left;
	height: 100vh;
	width: 40%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.title p:first-of-type{
	margin-bottom: 0;
}

.aboutmehome p:last-of-type{
	margin-bottom: 0;
}

.title {
	padding: 1rem;
}

.aboutmehome {
	padding: 1rem;
}

.projectshome {
	padding: 1rem;
}

.desniSidebarLinkovi{
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: space-between;
	top: 0;
	height: 100vh;
	right: 0.5rem;
	transform: rotate(180deg);
	z-index: 100;
}

@media (hover: none) {
   a:link {
      background: rgba(255, 0, 0, 0);
   }
}

@media screen and (max-width : 860px) {
	.kratkiopis{
		height: 90vh;
	}

	.divider{
		height: 2rem;
	}

}


@media screen and (max-width : 460px) {
	.kratkiopis{

	}

	.flexdivider{
		width: 0.6rem;
		height: 0.6rem;
	}
}

.posebanLink {
	pointer-events: none;
}

@media (-moz-touch-enabled: 1), (pointer:coarse) {
	.posebanLink {
			pointer-events: all;
			display: block;
			height: 70vh;
			width: 100%;
			margin-bottom: -70vh;
			position: absolute;
			z-index: 100;
	}
}
