/*black=  #0C1A00;*/

@font-face {
  font-family: UntitledSans;
  src: url(asseti/Font/UntitledSansRegular.otf);
}


html {
	cursor: -webkit-image-set(url("asseti/cursor.png") 1x, url("asseti/cursor@2x.png") 2x) 0 0, auto;
	font-size: 62.5%;
}

body {
	font-family: 'UntitledSans', sans-serif;
	font-size: 22px;
	line-height: 1.1;
	margin: 0 auto;
	padding: 0;
	color: #0C1A00;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
}

p{
	margin-top: 0;
  transition: letter-spacing .1s ease-out;
}

a {
  transition: text-shadow .1s ease-out;
}

a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  transition: text-shadow .1s ease-out;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #fff;
	color: #fff;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}

.lijevo {
	width: 24%;
	min-width: 260px;
  max-width: 380px;
	padding: 1rem;
}

.lijevo p {
  margin-bottom: 1rem;

  font-family: 'UntitledSans', sans-serif;
}

.sredna p {
  margin-bottom: 1rem;
}

.sredina {
	height: 100vh;
	display: block;
  width: 70%;
  color: #0C1A00;
}

.sredinascroll {
  padding-bottom: 0rem;
}

.desno {
	width: 6%;
	min-width: 110px;
  max-width: 140px;
	padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projekt {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border: 1px solid black;
}

.projekt a {
	text-align: right;
  color: #0C1A00;
	width: 100%;
	font-family: 'UntitledSans', sans-serif;
  text-decoration: none;
  font-style: italic;
}

.detaljibutton {
  text-align: center !important;
  color: white !important;
  background: #0C1A00 !important;
  padding: 14px 0px;
  width: 260px !important;
  display: block !important;
  transition:  0.1s ease-out;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.detaljibutton:hover {
  transition: .1s ease-out;
  padding: 14px 5px;
  color: #0C1A00 !important;
}

.projektnaslov {
	text-align: right;
	font-family: 'UntitledSans', sans-serif;
}

.sredinascroll a:hover {
  font-style: normal;
}

.sredinascroll p {
	text-align: right;
	margin-bottom: .1rem;
  font-family: 'UntitledSans', sans-serif;
}

.sredinascroll img {
	width: 100%;
}

p:hover{
  letter-spacing: -.1px;
  transition: letter-spacing .1s ease-out;
}

.projekt img {
	margin-top: .5rem;
	margin-bottom: 1rem;
	display: block;
  border-bottom: 1px solid black;
}

.projekt img:last-of-type {
  margin-bottom: 0;
}

.desno a {
	text-decoration: none;
	font-style: italic;
  transition: text-shadow .1s ease-out;
}

.desno a:hover {
	font-style: normal;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transition: text-shadow .1s ease-out;
}

.dragAnchor {
  height: 0;
  position: relative;
  top: 0;
  left:0;
}

.infoButton {
  position: absolute;
  font-family: 'UntitledSans', sans-serif;
  color: #fff;
  border-radius: 20px;
  border: 1px #0C1A00 solid;
  padding: .5rem 1.3rem .6rem 1.3rem;
  background: #0C1A00;
  touch-action: none;
  user-select: none;
  transition: .08s ease-out;
  box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.25);
  }

.info {
  position: absolute;
  background-color: #0C1A00;
  color: white;
  font-style: normal;
  width: 320px;
  top: 44px;
  left: 0;
  padding: 0.8rem 1rem 1.1rem 1rem;
  text-shadow: none;
  display: none;
}

.infoButton:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  transition: .08s ease-out;
  color: #0C1A00;
  box-shadow: none;
}

.infoButton:active {
  font-style: normal;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  transition: .08s ease-out;
}

.infoButton:active > .info{
    display: block;
  }

#infoButton[data-active] #info{
    display: block;
  }

.infoButton:hover {
  cursor: pointer;
}

.stazaText a {
  fill: #0C1A00;
}

.stazaText a:hover {
  fill: white;
}

.stazaContainer {
  display: flex;
  justify-content: center;
}

.ukrug {
  transform: scale(1.25);
}


@media screen and (max-width : 769px) {


body {
	font-size: 19px;
	line-height: 1.09;
}

.wrapper {
	display: grid;
	overflow: auto;
  height: auto;
}

.lijevo {
	width: calc(100vw - 2rem);
	padding: 1rem;
  min-height: 50vh;
}

.sredina {
  width: 100%;
  order: 3;
  height: auto;
  z-index: 20;
}

.ukrug {
  transform: scale(1.2);
  padding-bottom: 2vh;
}

.projekt {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 5rem;
}

.desno {
  width: calc(100vw - 2rem);
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 100vw;
  z-index: 0;
}

.infoButton {

  padding: .5rem 1.2rem;
}
.info {
  width: 280px;
  top: unset;
  bottom: 40px;
}

.detaljibutton {
  width: 63% !important;
}



}

@media screen and (min-width : 1600px) {
  .sredina {
    width: auto;
  }


}
