body {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', serif;
	color: #FF0083;
	background-color: #FF0083;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pozadinaFill{
 background-color: black;
}

.wrapper {
	margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 4em;
	grid-column-gap: 24px;
	border-right: 1px solid #FF0083;
	border-bottom: 1px solid #FF0083;
}

.topwrapper {
	overflow: hidden;
}

.top{
	width: 105%;
  margin-bottom: 8em;
  margin-left: -3%;
  height: 9em;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(image.svg);
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: black;
	color: white;
}

@media (hover: none) {
   a:link {
      background-color: white;
   }
}

a::selection {
  background: black;
	color: #FF0083;
}

h1{
	font-size: 72px;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 0.4em;
	margin-top: 0;
}

h2{
	font-size: 20px;
	line-height: 1.5;
	margin-top: 1em;
	margin-bottom: 0;
	text-align: center;
}

h3{
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 0.4em;
}

p {
	font-size: 2vw;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5em;
}

a {
	color: white;
	font-size: 28px;
	line-height: 1.4;
	text-decoration: none;
	font-weight: normal;
}

a:hover{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
}

.hoverver:hover{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
}

.naslovlink{
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 0.8em;
}

.small-bottom-padding{
	margin-bottom: 0.2em;
}

.last{
	margin-bottom: 1.6em;
}

.ime{
	grid-column-start: 1;
  grid-column-end: 5;
	grid-row-start: 1;
}

.linkovi{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: flex-end;
	grid-row-start: 1;
	flex-direction: column;
	justify-content: flex-start;
	grid-column-start: 4;
	grid-column-end: 9;
}

.opis {
	grid-column-start: 1;
  grid-column-end: 5;
	margin-bottom: 4em;
}

.naslov {
	grid-column-start: 1;
  grid-column-end: 6;
}

.iskustvo{
	grid-column-start: 1;
  grid-column-end: 6;
	margin-bottom: 2em;
}

@media screen and (max-width : 1200px) {

	.top{
		margin-left: -0.5em;
		height: 7em;
		margin-top: 0em;
		margin-bottom: 6em;
	}

	.opis {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	.naslov {
		grid-column-start: 1;
	  grid-column-end: 7;
	}
	.iskustvo{
		grid-column-start: 1;
	  grid-column-end: 7;
	}
}

@media screen and (max-width : 1000px) {

	.top{
		margin-left: -0.5em;
		height: 8em;
		margin-top: -2em;
		margin-bottom: 6em;
	}

	.opis {
		grid-column-start: 1;
		grid-column-end: 8;
	}
	.naslov {
		grid-column-start: 1;
	  grid-column-end: 8;
	}
	.iskustvo{
		grid-column-start: 1;
	  grid-column-end: 8;
	}
}

@media screen and (max-width : 940px) {

	.wrapper {
		padding: 2em;
	}
	.opis {
		grid-column-start: 1;
		grid-column-end: 8;
	}

	.naslov {
		grid-column-start: 1;
	  grid-column-end: 8;
	}
	.iskustvo{
		grid-column-start: 1;
	  grid-column-end: 8;
	}
}

@media screen and (max-width : 800px) {

	h1{
		font-size: 64px;
	}

	h2{
		font-size: 18px;
	}

	h3{
		font-size: 24px;
	}

	p {
		font-size: 24px;
	}

	a {
		font-size: 24px;
	}

	.top{
		margin-left: -0.5em;
		height: 7em;
		margin-top: -3em;
		margin-bottom: 6em;
	}

	.wrapper {
		margin: 0.5em;
		padding: 1em;
	}

	.ime{
		grid-column-start: 1;
	  grid-column-end: 8;
	}

	.linkovi{
		padding-top: 12px;
		grid-column-start: 2;
		grid-column-end: 9;
	}

	.opis {
		grid-column-start: 1;
		grid-column-end: 8;
	}
	.naslov {
		grid-column-start: 1;
	  grid-column-end: 8;
	}
	.iskustvo {
		grid-column-start: 1;
		grid-column-end: 8;
	}

}


@media screen and (max-width : 500px) {

	.top{
		margin-top: -2.3em;
		height: 4.5em;
		margin-bottom: 4em;
	}

 .wrapper {
	 margin: 0.4em;
	 padding: 0.5em;
 }
	.opis {
		grid-column-start: 1;
		grid-column-end: 9;
	}
	.naslov {
		grid-column-start: 1;
		grid-column-end: 9;
	}
	.iskustvo {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	h1{
		font-size: 48px;
	}

	h2{
		font-size: 16px;
	}

	h3{
		font-size: 20px;
	}

	p {
		font-size: 20px;
	}

	a {
		font-size: 20px;
	}
}
