
html {
	font-size: 62.5%;
}


body {
	font-family: 'Arial', sans-serif;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	color: black;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: black;
	color: white;
}

.noHover{
    pointer-events: none;
}

p {
	margin: 0;
}

h1 {
	font-weight: normal;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
	transition: 0.2s ease;
	font-style: italic;
}


a:hover {
	font-style: normal;
	transition: 0.2s ease;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 100%);
}

.vertikalno{
	writing-mode: vertical-lr;
	transition: 0.2s ease;
	letter-spacing: 1px !important;
}

.vertikalno:hover{
	transition: 0.2s ease;
	background: rgb(0,0,0);
	letter-spacing: -0.3px !important;
	background: -moz-linear-gradient(180deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(180deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 100%);
}

.fluidtype:hover{
	letter-spacing: -0.2px;
	transition: 0.2s ease;
}

.fluidtypecaption:hover{
	letter-spacing: -0.2px;
	transition: 0.2s ease;
	margin-left: -0.8rem;
	padding-left: 0.8rem;
}

button {
	font-family: 'Arial', sans-serif;
  background-color: white;
  border: none;
	padding: 0rem;
	text-align: left;
}

.buttontitle {
	padding: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border: 2px solid black;
	border-radius: 100px;
	margin-right: 2rem;
}

button:hover{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(150,150,15,150) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(255,255,255,1) 100%);
	cursor: pointer;
}

.fluidtype {
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.3px;
	transition: 0.2s ease;
}

.fluidtypecaption {
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.3px;
	transition: 0.2s ease;
}


@media screen and (min-width : 400px) {
	.fluidtype {
		font-size: calc(20px + 10 * ((100vw - 375px) / (1600)));
		letter-spacing: calc(0.4px + 0 * ((100vw - 375px) / (1600)));
	}
	.fluidtypecaption {
		font-size: calc(14px + 10 * ((100vw - 375px) / (1600)));
		letter-spacing: calc(0.6px + 0 * ((100vw - 375px) / (1600)));
	}
}

@media screen and (min-width : 1600px) {
	.fluidtype {
		font-size: 32px;
	}
	.fluidtypecaption {
		font-size: 19px;
	}
}

.wrapper {
	padding: 1rem;
  display: grid;
	background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}

.title{
	grid-column-start: 1;
  grid-column-end: 9;
	grid-row-start: 1;
	height: 100vh;
}



.projekti{
	grid-column-start: 1;
  grid-column-end: 6;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}

.kratkiopis{
	grid-column-start: 1;
  grid-column-end: 6;
	grid-row-start: 2;
	height: 92vh;
	display: flex;
}

.mailResume{
	position: fixed;
	top: 0;
	height: 100vh;
	right: 1rem;
	display: flex;
	align-items: center;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.strelicadolje{
	grid-column-start: 8;
	grid-row-start: 1;
	height: 100vh;
	align-items: flex-start;
	justify-content: flex-end;
	display: flex;
	overflow: hidden;
}

.strelicadoljetekst{
	padding: 2rem;
	margin-top: -2rem;
	margin-right: -1.5rem
}

.strelicadoljetekst:hover{
	color: white;
	cursor: default;
	letter-spacing: 0px;
}


.social{
	display: flex;
	grid-column-start: 1;
  grid-column-end: 9;
	height: 73vh;
	align-items: flex-end;
}

.flexdivider{
	width: 0.7rem;
}

.margindesno {
	margin-right: 3rem;
}

.marginbottom {
	margin-bottom: 2rem;
}

.divider{
	height: 3rem;
	grid-column-start: 1;
  grid-column-end: 9;
}



@media (hover: none) {
   a:link {
      background: rgba(255, 0, 0, 0);
   }
}

@media screen and (max-width : 860px) {
	.kratkiopis{
	  grid-column-end: 7;
	}

	.projektinaslov{
	}

	.projekti{
	  grid-column-end: 7;
	}

	.strelicadolje{
		display: none;
	}

	.divider{
		height: 2rem;
	}
}

@media screen and (max-width : 460px) {
	.kratkiopis{
	  grid-column-end: 9;
	}

	.projekti{
		grid-column-start: 1;
	  grid-column-end: 9;
	}

	.social{
		margin-bottom: 3rem;
	}
}
