html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
	color: white;
	background-color: #FF0083;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pozadinaFill{
	background: black;
}
.wrapper {
	padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
}

.topwrapper {
	overflow: hidden;
}

.top{
	width: 103%;
  margin-bottom: 8em;
  margin-left: -1%;
  height: 11rem;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(image.svg);
}

::-webkit-scrollbar {
    display: none;
}

::selection {
  background: white;
	color: black;
}

.fluidtype {
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.3px;
	transition: 0.2s ease;
}

.fluidtypecaption {
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.3px;
	transition: 0.2s ease;
	border-top: 1px solid white;
	padding-top: 0.5rem;
}


@media screen and (min-width : 400px) {
	.fluidtype {
			font-size: calc(20px + 10 * ((100vw - 375px) / (1600)));
			letter-spacing: calc(0.4px + 0 * ((100vw - 375px) / (1600)));
		}
	.fluidtypecaption {
				font-size: calc(14px + 10 * ((100vw - 375px) / (1600)));
				letter-spacing: calc(0.6px + 0 * ((100vw - 375px) / (1600)));
			}
	}

@media screen and (min-width : 1600px) {
	.fluidtype {
		font-size: 32px;
	}
	.fluidtypecaption {
		font-size: 19px;
	}
}

@media (hover: none) {
   a:link {
      background-color: rgba(0,0,0,0);
   }
}


.fluidtype:hover{
	letter-spacing: -0.2px;
	transition: 0.2s ease;
}



a::selection {
  background: black;
	color: white;
}

h1{
	font-weight: normal;
	margin: 0;
}

h2{
	font-size: 16px;
	margin-top: 0;
}

h3{
	font-weight: normal;
	margin: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

a {
	transition: 0.2s ease;
	color: white;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px solid white;
}

a:hover{
	font-style: normal;
	transition: 0.2s ease;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
}


.naslovlink{
	margin-bottom: 3rem;
}

.small-bottom-padding{
	margin-bottom: 0.2em;
}

.last{
	margin-bottom: 5rem;
}

.ime{
	grid-column-start: 1;
  grid-column-end: 6;
	grid-row-start: 1;
	margin-bottom: 14rem;
}

.linkovi{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: flex-end;
	grid-row-start: 1;
	flex-direction: column;
	justify-content: flex-start;
	grid-column-start: 4;
	grid-column-end: 9;
}

.opis {
	grid-column-start: 1;
  grid-column-end: 6;
	margin-bottom: 4em;
}

.naslov {
	grid-column-start: 1;
  grid-column-end: 7;
	padding-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
}

.iskustvo{
	grid-column-start: 1;
  grid-column-end: 7;
	margin-bottom: 4rem;
}

@media screen and (max-width : 1200px) {

	.top{
		margin-left: -0.5em;
		height: 7em;
		margin-top: 0em;
		margin-bottom: 6em;
	}

}

@media screen and (max-width : 1000px) {

	.top{
		margin-left: -0.5em;
		height: 8em;
		margin-top: -2em;
		margin-bottom: 6em;
	}

	.opis {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	.naslov {
		grid-column-start: 1;
	  grid-column-end: 7;
	}
	.iskustvo{
		grid-column-start: 1;
	  grid-column-end: 7;
	}
}

@media screen and (max-width : 940px) {

	.opis {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.naslov {
		grid-column-start: 1;
	  grid-column-end: 7;
	}
	.iskustvo{
		grid-column-start: 1;
	  grid-column-end: 7;
	}
}

@media screen and (max-width : 800px) {

	.top{
		margin-left: -0.5em;
		height: 7em;
		margin-top: -3em;
		margin-bottom: 6em;
	}

	.ime{
		grid-column-start: 1;
	  grid-column-end: 8;
	}
	.linkovi{
		grid-column-start: 1;
		grid-column-end: 9;
	}
	.opis {
		grid-column-start: 1;
		grid-column-end: 8;
	}
	.naslov {
		grid-column-start: 1;
	  grid-column-end: 8;
	}
	.iskustvo {
		grid-column-start: 1;
		grid-column-end: 8;
	}

	h2{
		margin-top: 0;
		font-size: 13px;
	}
}

@media screen and (max-width : 700px) {

	.opis {
		grid-column-start: 1;
		grid-column-end: 9;
	}
	.naslov {
		grid-column-start: 1;
		grid-column-end: 9;
	}
	.iskustvo {
		grid-column-start: 1;
		grid-column-end: 9;
	}
}


@media screen and (max-width : 500px) {
	.ime{
		grid-column-start: 1;
	  grid-column-end: 4;
	}

	.top{
		margin-top: -2.3em;
		height: 4.5em;
		margin-bottom: 4em;
	}
}
